.links {
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.boxCard {
    margin: 10px;
    height: 180px;
    width: 180px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.imageTile {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

img {
    height: 140px;
    width: 175px;
}